@import "url(http://fonts.googleapis.com/css?family=Lato:300","400","700)";

body {
  margin-bottom : 30px;
  color         : #333;
  font-family   : 'Lato',
                  sans-serif;
  font-weight   : 300;
}

.Sf-Walpaper {
  position        : relative;
  width           : 100%;
  height          : 400px;
  background      : url(../images/SF-Walpaper.jpg);
  background-size : cover;
}

.Sf-Walpaper-info {
  position : absolute;
}

.Sf-Walpaper-info h1 {
  margin-bottom : 20px;
  text-shadow   : 1px 1px 3px rgba(0, 0, 0, 0.25);
  font-size     : 4em;
}

.filter-wrapper {
  position         : relative;
  width            : 100%;
  min-height       : 55px;
  padding          : 10px;
  background-color : #BBB;
}

/* - - - - - - - - - SEARCBOX START - - - - - - - - - */

.close-icon,
.search-box,
.search-wrapper {
  position : relative;
  padding  : 10px;
}

.search-wrapper {
  width            : 90%;
  margin           : auto;
  background-color : gray;
}

.search-box {
  width         : 100%;
  border        : 1px solid #ccc;
  border-radius : 15px;
  outline       : 0;
}

.search-box:focus {
  border     : 2px solid #bebede;
  box-shadow : 0 0 15px 5px #b0e0ee;
}

.close-icon {
  display          : inline-block;
  border           : 1px solid transparent;
  background-color : transparent;
  outline          : 0;
  vertical-align   : middle;
  cursor           : pointer;
}

.close-icon:after {
  z-index          : 1;
  content          : "X";
  display          : block;
  position         : absolute;
  top              : 0;
  right            : 35px;
  bottom           : 0;
  width            : 15px;
  height           : 15px;
  margin           : auto;
  padding          : 2px;
  color            : white;
  border-radius    : 50%;
  background-color : #FA9595;
  box-shadow       : 0 0 2px #E50F0F;
  text-align       : center;
  font-size        : 12px;
  font-weight      : normal;
  cursor           : pointer;
}

.search-box:not(:valid)~ .close-icon {
  display : none;
}

/* - - - - - - - - - SEARCHBOX FINISHED - - - - - - - - - */

/* - - - - - - - - - START FAVORITES PLACES - - - - - - - - - */

#places {
  border-left      : 1px solid grey;
  background-color : #E9E5DC;
  /*
  height: 100%;
  	width: 30%;
  	float: right;
  */
}

#place-list {
  height     : 100%;
  overflow-y : scroll;
}

.place-title {
  font-size : 1.2em;
}

.place-item {
  padding          : 10px 5px;
  border-bottom    : 1px solid grey;
  background-color : #fff;
  font-size        : 14px;
  list-style       : none;
  cursor           : pointer;
}

/* - - - - - - - - - FINISHED FAVORITES PLACES - - - - - - - - - */

/* START MAP */

#map {
  height : 742px;
}

#pano {
  width  : 200px;
  height : 200px;
}

.text {
  font-size : 12px;
}

/* END MAP */

/* Footer */

footer {
  padding          : 10px;
  color            : #666;
  background-color : black;
  text-align       : center;
  font-size        : .8em;
}
